@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,900;1,200&display=swap');
body{
	background-color: #eaeaea;
	font-family: 'Poppins', sans-serif;
	font-size: 14px
	color:#2d2d2d;
	position: bottom;
}
.PRODUK{
	text-align: center;
}
.text-center{
	margin-top: 5px;
}